<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property name="LOG_DIR" value="${LOG_DIR:-/app/logs}"/>

    <appender name="MAIL_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/mail.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n%ex</pattern>
        </encoder>
    </appender>

    <logger name="com.tictac.tictac.service.MailService" level="INFO" additivity="true">
        <appender-ref ref="MAIL_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
